<p>
  <strong>Collection:</strong>
  <%= @monument_collection.name %>
</p>

<%= link_to 'Edit', edit_monument_collection_path(@monument_collection) %> |
<%= link_to 'Back', monument_collections_path %>