<h1>Pictures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= image_tag picture.image.thumb.url %></td>
        <td>
          <%= form_tag(approve_picture_path(picture)) do %>
            <%= submit_tag("Approve") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
